@use '../abstract/colors';
@use '../abstract/mixins';
@use '../abstract/sizes';

section#home {
  min-height: calc(100vh - sizes.$header-height);

  #title {
    font-size: 5rem;
    text-align: center;

    @include mixins.breakpoint(“medium”) {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: .5rem;
    }

    span {
      display: block;
      color: colors.$primary;
    }
  }

  #subtitle {
    margin: 1.2rem 8rem;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;

    @include mixins.breakpoint(“medium”) {
      font-size: .8rem;
      margin: 0;
    }
  }

  button {
    width: 18rem;
    margin-top: 2rem;

    @include mixins.breakpoint(“medium”) {
      width: 12rem;
    }
  }

  #contacts-links {
    @include mixins.centralize(center, column);

    background-color: colors.$dark-background;
    position: fixed;
    left: 0;
    border-radius: 0 10px 10px 0;
    padding: 1.2rem 1rem;
    gap: 1.2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.821);

    @include mixins.breakpoint(“medium”) {
      @include mixins.centralize(center, row);

      padding: .8rem .8rem;
      gap: .6rem;
      position: absolute;
      bottom: 0;
      margin: auto;
      box-shadow: none;
    }

    a {
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 3rem;

        @include mixins.breakpoint(“medium”) {
          width: 2rem;
        }
      }
    }

  }
}