@use '../abstract/colors';
@use '../abstract/mixins';

button {
  background-color: colors.$primary;
  color: colors.$white;

  padding: .7rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;

  position: relative;
  transition: all 0.3s;

  &:hover {
    background: colors.$primary-dark;
  }

  &:active {
    background: colors.$primary-dark;
    top: 2px;
  }

  @include mixins.breakpoint(“medium”) {
    font-size: .8rem;
    padding: .7rem 0;
  }
}