@use '../abstract/colors';
@use '../abstract/mixins';
@use '../abstract/sizes';

header {
  @include mixins.centralize(space-between);

  @include mixins.breakpoint(“medium”) {
    @include mixins.centralize(center);
  }

  background-color: colors.$dark-background;
  color: colors.$white;
  min-height: sizes.$header-height;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.821);

  #logo {
    color: colors.$primary;
    font-size: 1.5rem;

    @include mixins.breakpoint(“medium”) {
      font-size: 1rem;
    }
  }

  nav {
    @include mixins.breakpoint(“medium”) {
      display: none;
    }

    ul {
      list-style-type: none;
      display: flex;
      gap: 2rem;

      li {
        @include mixins.centralize(space-between);

        cursor: pointer;
        height: sizes.$header-height;
        padding: 1rem;

        &:hover {
          border-bottom: solid 3px colors.$primary;
          color: colors.$primary;
        }

        a {
          @include mixins.reset-link;

        }
      }
    }
  }
}