@use '../abstract/mixins';

.project-card {
  width: 100%;
  min-height: 80vh;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 60% 1fr;

  @include mixins.breakpoint(“medium”) {
    grid-template-columns: 100%;
  }

  div {
    &:first-child {
      @include mixins.centralize(center);

      img {
        width: 100%;
      }
    }

    &:last-child {
      @include mixins.centralize(center, column, flex-start);
      margin-left: 4rem;
      width: 100%;

      @include mixins.breakpoint(“medium”) {
        // @include mixins.centralize(center, column);
        margin-top: 1rem;
        margin-left: 0;
      }

      h4 {
        font-size: 2rem;

        @include mixins.breakpoint(“medium”) {
          font-size: 1.5rem;
        }
      }

      p {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
  }

  button {
    margin-top: 2rem;
    width: 100%;
  }
}