@use '../abstract/fonts';
@use '../abstract/colors';
@use '../abstract/mixins';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: fonts.$main;
    vertical-align: baseline;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

header,
main,
footer {
    padding: 0 1rem;

    @include mixins.breakpoint(“large”) {
        padding: 0 8rem;
    }
}

body {
    min-height: 100vh;
    background-color: colors.$background;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: colors.$background;
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$primary-dark;
        border-radius: 10px;
        border: solid 3px colors.$background;
    }
}