@use '../abstract/fonts';
@use '../abstract/colors';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: fonts.$main;
    vertical-align: baseline;
    box-sizing: border-box;
    user-select: none;
}

header,
main,
footer {
    padding: 0 8rem;
}

body {
    min-height: 100vh;
    background-color: colors.$background;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: colors.$background;
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$primary-dark;
        border-radius: 10px;
    }
}