* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

header,
main,
footer {
  padding: 0 1rem;
}
@media (min-width: 1025px) {
  header,
  main,
  footer {
    padding: 0 8rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a a:visited {
  color: inherit;
}

body {
  min-height: 100vh;
  background-color: #101419;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #101419;
}
body::-webkit-scrollbar-thumb {
  background-color: hsl(99, 30%, 30%);
  border-radius: 10px;
  border: solid 3px #101419;
}

main section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

button {
  background-color: #618B4A;
  color: #ffffff;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
button:hover {
  background: hsl(99, 30%, 30%);
}
button:active {
  background: hsl(99, 30%, 30%);
  top: 2px;
}
@media (max-width: 1024px) {
  button {
    font-size: 0.8rem;
    padding: 0.7rem 0;
  }
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  .section-title {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}
.section-title:after {
  content: "-";
  margin-top: 1rem;
  font-size: 0.6rem;
  width: 3.8rem;
  border-radius: 10px;
  color: #618B4A;
  background-color: #618B4A;
}
@media (max-width: 1024px) {
  .section-title:after {
    font-size: 0.4rem;
    width: 3rem;
    margin-top: 0.8rem;
  }
}

.skill-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}
.skill-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #07090b;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.section-subtitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  width: 85%;
}
@media (max-width: 1024px) {
  .section-subtitle {
    width: 100%;
    font-size: 0.8rem;
  }
}

.project-card {
  width: 100%;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 60% 1fr;
}
@media (max-width: 1024px) {
  .project-card {
    margin-top: 3rem;
    grid-template-columns: 100%;
  }
}
.project-card div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.project-card div:first-child img {
  width: 100%;
}
.project-card div:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 4rem;
  width: 100%;
}
@media (max-width: 1024px) {
  .project-card div:last-child {
    margin-top: 1rem;
    margin-left: 0;
  }
}
.project-card div:last-child h4 {
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .project-card div:last-child h4 {
    font-size: 1.5rem;
  }
}
.project-card div:last-child p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.project-card button {
  margin-top: 2rem;
}
@media (max-width: 1024px) {
  .project-card button {
    width: 100%;
  }
}

form > fieldset {
  width: 100%;
}
form > fieldset label {
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
form > fieldset input, form > fieldset textarea {
  width: 100%;
  margin-top: 0.5rem;
  color: #ffffff;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: 2px solid #ffffff;
}
form > fieldset input:focus, form > fieldset textarea:focus {
  outline: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #07090b;
  color: #ffffff;
  min-height: 5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.821);
}
@media (max-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
header #logo {
  color: #618B4A;
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  header #logo {
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  height: 5rem;
  padding: 1rem;
}
header nav ul li:hover {
  border-bottom: solid 3px #618B4A;
  color: #618B4A;
}

section#home {
  min-height: calc(100vh - 5rem);
}
section#home #title {
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 1024px) {
  section#home #title {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
}
section#home #title span {
  display: block;
  color: #618B4A;
}
section#home #subtitle {
  margin: 1.2rem 8rem;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 1024px) {
  section#home #subtitle {
    font-size: 0.8rem;
    margin: 0;
  }
}
section#home button {
  width: 18rem;
  margin-top: 2rem;
}
@media (max-width: 1024px) {
  section#home button {
    width: 12rem;
  }
}
section#home #contacts-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #07090b;
  position: fixed;
  left: 0;
  border-radius: 0 10px 10px 0;
  padding: 1.2rem 1rem;
  gap: 1.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.821);
}
@media (max-width: 1024px) {
  section#home #contacts-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.8rem 0.8rem;
    gap: 0.6rem;
    position: absolute;
    bottom: 0;
    margin: auto;
    box-shadow: none;
  }
}
section#home #contacts-links a {
  cursor: pointer;
  transition: transform 0.3s ease;
}
section#home #contacts-links a:hover {
  transform: scale(1.1);
}
section#home #contacts-links a img {
  width: 3rem;
}
@media (max-width: 1024px) {
  section#home #contacts-links a img {
    width: 2rem;
  }
}

section#about {
  min-height: 100vh;
}
section#about #content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  font-size: 1.2rem;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 1024px) {
  section#about #content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
  }
}
section#about #content div {
  padding: 1rem;
  max-width: 50%;
  min-height: 50vh;
}
@media (max-width: 1024px) {
  section#about #content div {
    max-width: 100%;
    padding: 0;
  }
}
section#about #content div #title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #618B4A;
}
section#about #content div:first-child p {
  text-align: justify;
}
section#about #content div:first-child p strong {
  color: #618B4A;
}
@media (max-width: 1024px) {
  section#about #content div:last-child {
    margin-top: 2rem;
  }
}
section#about #content div:last-child ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 3rem);
  height: 100%;
}
@media (max-width: 1024px) {
  section#about #content div:last-child ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

section#projects {
  min-height: 100vh;
}

section#contact {
  min-height: 100vh;
}
section#contact form {
  width: 80%;
  margin: 3.2rem 0;
}
@media (max-width: 1024px) {
  section#contact form {
    margin-top: 1rem;
    width: 100%;
  }
}
section#contact form fieldset {
  margin-top: 1rem;
}
section#contact form div {
  width: 100%;
  display: flex;
  justify-content: right;
}
section#contact form div button {
  width: 30%;
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  section#contact form div button {
    margin-top: 2rem;
    width: 100%;
  }
}
section#contact form p {
  font-size: 0.8rem;
  margin-top: -10px;
}

footer {
  background-color: #07090b;
  min-height: 100px;
  padding: 3rem 8rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.821);
  color: #ffffff;
}
@media (max-width: 1024px) {
  footer {
    padding: 3rem 1rem;
  }
}
footer div#content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  footer div#content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}
footer div#content h5 {
  margin-bottom: 1rem;
}
footer div#content div:first-child {
  min-width: 50%;
}
@media (max-width: 1024px) {
  footer div#content div:first-child {
    min-width: 100%;
    margin-bottom: 2rem;
  }
}
footer div#content div:first-child a {
  color: #618B4A;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  footer div#content div:first-child a {
    display: block;
  }
}
footer div#content div:last-child {
  min-width: 50%;
  text-align: left;
}
footer div#content div:last-child a img {
  width: 2.5rem;
  margin-right: 0.5rem;
}
footer div#copyright {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  margin-top: 1rem;
  border-top: 1px solid #ffffff;
}
@media (max-width: 1024px) {
  footer div#copyright span {
    display: block;
  }
}
footer div#copyright a {
  color: #618B4A;
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */